<footer class="footer">
  <div class="d-sm-flex justify-content-center justify-content-sm-between">
    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a
        href="https://www.bootstrapdash.com/" target="_blank">Yoohla, Inc</a>. All rights reserved.</span>
    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
      <div class="btn-group" role="group" aria-label="Language">
        <button type="button" class="btn btn-sm btn-icon-text btn-secondary"><i class="mdi mdi-google-earth btn-icon-prepend"></i>Eng</button>
        <button type="button" class="btn btn-sm btn-light">Fr</button>
      </div>
    </span>
  </div>
</footer>