<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="nav-profile-image">
          <img src="assets\images\faces-clipart/pic-4.png" alt="profile">
          {{!-- <span class="mdi mdi-account-circle"></span> --}}
          <span class="login-status online"></span>
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text d-flex flex-column">
          <span class="font-weight-bold mb-2">John Doe</span>
          <span class="text-secondary text-small">Administrator</span>
        </div>
        <i class="mdi mdi-check-decagram text-success nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="index">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
    <li class="nav-link sidebar-actions">
      <div class="border-bottom">
        <a href="add-product" class="add-link">
        <button class="btn btn-block btn-lg btn-gradient-danger mt-4">+ Add a product</button>
        </a>
        <div class="mt-4">
        </div>
    </li>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="products-mgmt">
        <span class="menu-title">Products Manager</span>
        <i class="mdi mdi-package-variant menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pages/icons/mdi.html">
        <span class="menu-title">Orders</span>
        <i class="mdi mdi-cart menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pages/icons/mdi.html">
        <span class="menu-title">Coupons</span>
        <i class="mdi mdi-coin menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pages/icons/mdi.html">
        <span class="menu-title">Stats/Reports</span>
        <i class="mdi mdi-chart-areaspline menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-title">Settings</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-settings menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/check-out">Check-out</a></li>
          <li class="nav-item"> <a class="nav-link" href="/register">Register</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Option 3</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Option 4</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Option 5</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span class="menu-title"></span>
        <i class=" "></i>
      </a>
    </li>
    <li class="nav-item">
      <div class="border-top">
        <a class="nav-link" href="/index-client">
          <span class="menu-title">To Site</span>
          <i class="mdi mdi-undo-variant menu-icon"></i>
        </a>
      </div>
    </li>
  </ul>
</nav>