<div class="page-header">
    <h3 class="page-title">
        <div class="d-flex flex-row align-items-center">
            <p class="mb-0 ml-2" style="font-size: 1.125rem;"> Billing Details </p>
        </div>
    </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/products-mgmt">Cart</a></li>
            <li class="breadcrumb-item active" aria-current="page">Check-out</li>
        </ol>
    </nav>
</div>

<div class="row check-out">
    <div class="col-md-12 grid-margin stretch-card colm1 text-dark font-weight-bold">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    
                        <div class="col-md-6 grid-margin stretch-card smry">
                            <div class="card summary">
                                <div class="card-body" style="padding: ;">
                                    <h4 class="card-title">Your Orders</h4>
                                    <div class="order-item">
                                        <h5>Products</h5>
                                        <span>3</span>
                                    </div>

                                    <div class="toggle-products">
                                        <ul>
                                            <li class="order-item">
                                                <h5>iPhone %</h5>
                                                <span>50000 FCFA</span>
                                            </li>
                                            <li class="order-item">
                                                <h5>HP Laptop</h5>
                                                <span>350000 FCFA</span>
                                            </li>
                                            <li class="order-item">
                                                <h5>Xbox 1</h5>
                                                <span>75000 FCFA</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="order-item">
                                        <h5>Subtotal</h5>
                                        <span>500000 FCFA</span>
                                    </div>
                                    <div class="order-item">
                                        <h5>Shipping</h5>
                                        <span>10000 FCFA</span>
                                    </div>
                                    <div class="order-item">
                                        <h5>Total</h5>
                                        <span>510000 FCFA</span>
                                    </div>

                                </div>
                                <div class="card-body" style="text-align: right;">
                                    <h4 class="card-title">Shipping to</h4>
                                    <address>
                                        <p class="font-weight-bold">Purple imc</p>
                                        <p> 695 lsom Ave, </p>
                                        <p> Suite 00 </p>
                                        <p> San Francisco, CA 94107 </p>
                                    </address>
                                    <button class="btn btn-inverse-dark btn-sm">Change</button>
                                </div>
                            </div>
                        </div>

                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Payment</h4>
                                <p class="card-description" style="text-align: center;"> Credit Card </p>
                                <form action="">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Full Names"
                                                aria-label="Username" aria-describedby="basic-addon1" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i
                                                        class="mdi mdi-credit-card"></i></span>
                                            </div>
                                            <input type="number" class="form-control" placeholder="CC Number"
                                                aria-label="cc-number" aria-describedby="basic-addon1" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="date" class="form-control" name="" id=""
                                                        placeholder="Expiry Date" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="number" class="form-control" name="" id=""
                                                        placeholder="CVV" min="1" max="3" maxlength="3" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="card-description" style="text-align: center;"> Mobile Money </p>
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="number" class="form-control" name="" id=""
                                                        placeholder="Phone" min="1" max="3" maxlength="3" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div id="dataTable_length" class="dataTables_length"
                                                aria-controls="dataTable">
                                                <select class="form-control">
                                                    <option value=" " selected>MTN MOMO</option>
                                                    <option value=" ">Orange Money</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-sm btn-inverse-success">Order</button>
                                        <button type="reset"
                                            class="btn btn-sm btn-inverse-danger float-right">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>