<div class="container-fluid" style="padding-top: 100px;">
    <div class="text-center mt-5">
        <div data-bs-hover-animate="pulse" class="error mx-auto" data-text="404">
            <h1 class="m-0">404</h1>
        </div>
        <h2 class="text-dark mb-5 lead">Page Not Found</h2>
        <p class="text-black-50 mb-0" style="margin-bottom: 10px;">It looks like you found a glitch in
            the matrix...</p>
        <p class="text-black-50 mb-0">Page seems to be currently unavailable</p><a href="/">←
            Back to Home</a>
    </div>
</div>